.contact-section {
    max-width: 600px;
    margin: 0 auto 100px;
    text-align: center;
}

.overline {
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: var(--fz-md);
    font-weight: 400;
    margin-bottom: 20px;
}

.title {
    font-size: clamp(40px, 5vw, 60px);
    margin-bottom: 20px;
    color: var(--lightest-slate);
}

.contact-desc {
    color: var(--text-tertiary);
    font-size: var(--fz-lg);
    margin-bottom: 50px;
}

.email-link {
    color: var(--accent);
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
}

.email-link:hover {
    background-color: var(--accent-tint);
}

.contact-details {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--text-tertiary);
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
}

.detail-item .icon {
    color: var(--accent);
}

.socials {
    margin-top: 10px;
    gap: 20px;
}

.socials a {
    font-size: 24px;
}

.socials a:hover {
    color: var(--accent);
    transform: translateY(-3px);
}
