.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    color: var(--text-secondary);
}

.footer-content:hover {
    color: var(--accent);
}
