.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.skill-card {
    background-color: var(--bg-secondary);
    padding: 20px;
    border-radius: var(--border-radius);
    text-align: center;
    transition: var(--transition);
    cursor: default;
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

.skill-card:hover {
    box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);
    color: var(--accent);
}

.skill-icon {
    font-size: 40px;
    margin-bottom: 15px;
    color: var(--accent);
}

.skill-card p {
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    margin: 0;
}
