.theme-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--accent);
    font-size: 1.25rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.theme-toggle:hover {
    transform: translateY(-2px);
    color: var(--text-primary);
}
